/* Common shared styles */
* {
    font-family: "Poppins", sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    /* margin: 50px 100px; */
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
}

.nav-title {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-weight: 700;
}

/* banner related styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.banner-title {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    max-width: 582px;
    max-height: 133px;
    margin-bottom: 0;
}

.banner-des {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
    max-width: 505px;
    max-height: 60.9px;
    margin-top: 15px;
    margin-bottom: 0;
}

.banner-btn {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 25px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    margin-top: 15px;

}

/* header related styles */
header {
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 50px 100px;
}

/* main related styles */
main {
    max-width: 1440px;
    margin: 100px 200px;
}

.sponsor {
    max-width: 1110px;
    text-align: center;
    border-top: 2px solid #D9DBE1;
    border-bottom: 2px solid #D9DBE1;

}

.sponsor-img img {
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* collection related styles */
.collection {
    margin-top: 100px;
}

.collection-title {
    text-align: center;
    margin-bottom: 30px;
}

.collection-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-card {
    width: 329px;
    height: 500px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 15px;

}

.card-title {
    color: var(--Text-Gray-900, #18191F);
    font-feature-settings: 'liga' off;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0;
}

.price {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 0;
}

.rating {
    color: var(--gray-80, #5E6366);
    font-size: .9rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-top: 5px;
    margin-bottom: 0;
}

.card-para {
    color: var(--Gray-50, #787885);
    font-size: .9rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    margin-top: 5;
    width: 196px;
}

.card-img {
    width: 100%;
}

.collection-para {
    color: rgba(224, 44, 109, 0.87);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

/* feature related styles */
.feature {
    margin-top: 150px;
    margin-bottom: 100px;
}

.feature-container {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

.feature-title {
    color: #0A0826;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0;
}

.feature-para {
    color: #6C6C6C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    max-width: 501px;
    max-height: 88px;
    flex-shrink: 0;
    margin-top: 16px;
    margin-bottom: 0;
}

.feature-btn {
    border: 0;
    padding: 10px 24px;
    gap: 10px;
    background: #E02C6D;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 16px;
}

/* footer related styles */
footer {
    /* width: 1440px; */
    height: 239px;
    background: #0A0826;
}

.footer-content {
    text-align: center;
    padding: 50px;
}

.footer-title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.footer-copyright {
    color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'liga' off;
    font-size: .9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 3px;
    margin-bottom: 0;
}

.footer-reserve {
    color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'liga' off;
    font-size: .88rem;
    font-weight: 700;
    line-height: 24px;
    margin-top: 3px;
}

.fa-brands {
   color: #fff;
   font-size: 1.7rem;
   margin-left: 25px;
}







/* small related styles */
@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
        align-items: center;

    }

    header {
        margin: 10px;
        background-image: none;
    }

    nav ul {
        gap: 10px;
        padding-left: 0;
    }

    .banner {
        margin-top: 10px;
        flex-direction: column-reverse;
    }


    .banner-des {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .sponsor-img img {
        width: 100px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main {
        margin: 50px 10px;
    }

    .collection-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-img {
        width: 90%;
        object-fit: cover;
    }

    .feature-container {
        flex-direction: column-reverse;
    }

    .feature-btn {
        margin-top: 50px;
    }

    .feature-container {
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .feature-para {
        margin-bottom: 20px;
    }
}






/* medium */
@media screen and (min-width:768.01px) and (max-width:1200px) {
    .collection-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        margin: 10px;
        background-image: none;
    }

    .banner {
        margin-top: 10px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner-img {
        width: 100%;
    }

    .sponsor-img img {
        width: 100px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    main {
        margin: 50px 10px;
    }

    /* nav {
        flex-direction: column;
        align-items: center;
    } */

    .feature-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .feature-img {
        width: 90%;
        object-fit: cover;
    }

}